@font-face {
	font-family: 'Helvetica';
	src: url('../static/fonts/HelveticaNeue-Bold.woff2') format('woff2'),
		url('../static/fonts/HelveticaNeue-Bold.woff2') format('woff');
	font-display: swap;
	font-weight: 700;
	font-style: normal;
}

